<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-elmnt">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `login-elmnt`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginElmnt extends Polymer.Element {
      static get is() { return 'login-elmnt'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-elmnt'
          }
        };
      }
    }

    window.customElements.define(LoginElmnt.is, LoginElmnt);
  </script>
</dom-module>
